@inherits LayoutComponentBase
@inject DataService dataService
@inject LoginUserService loginUserService
@inject IDialogService dialogService
@inject IToastService toastService
    <FluentHeader>
        <FluentLabel>Etkezés nyilvántartó</FluentLabel>
        <FluentSpacer/>
        @if (dataService.actualUser != null)
        {
            <FluentLabel>@dataService.actualUser.Name</FluentLabel>
            <FluentButton OnClick="@(()=>dataService.actualUser = null)">Kijelentkezés</FluentButton>
        }
        else
        {
            <FluentButton OnClick="LoginPage">Belépés</FluentButton>
        }
    </FluentHeader>
        @Body
    <FluentFooter Style="position:absolute; bottom:30px;width:auto">
        <span>V:0.6.7</span>
        <FluentSpacer Width="20"/>
    <span>2026.04.21</span>
    </FluentFooter>
    <FluentToastProvider Position="ToastPosition.BottomRight"/>
    <FluentDialogProvider/>
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
@code{
    private async void LoginPage()
    {
        LoginData? loginData = new();
        DialogParameters parameters = new()
        {
            Width = "500px",
            Modal = true,
            PreventScroll = true
        };

        IDialogReference dialog = await dialogService.ShowDialogAsync<LoginDialog>(loginData, parameters);
        DialogResult? result = await dialog.Result;

        if (result.Data is not null)
        {
             loginData= result.Data as LoginData;
             if (loginData != null)
             {
                 var user = await loginUserService.ValidateUser(loginData.UserName, loginData.Password);
                 if (user != null)
                 {
                     dataService.actualUser = user;
                 }
                 else
                 {
                     toastService.ShowError("Hibás felhasználónév vagy jelszó!");
                 }
             }
        }
        else
        {
            toastService.ShowInfo($"Dialog closed - Canceled: {result.Cancelled}");
        }
    }
}