@implements IDialogContentComponent<LoginUser>
@inject IToastService toastService
<FluentDialogHeader>
    <h4>Felhasználó adatai:</h4>
</FluentDialogHeader>
<FluentDialogBody>
    <FluentEditForm Model="@Content">
        <FluentStack Orientation="Orientation.Vertical" Gap="10px">
            <FluentTextField @bind-Value="Content.Name" Label="Név" Required="true" />
            <FluentSelect TOption="string" @bind-Value="Content.Role" Label="Szerepkör" Required="true">
                <FluentOption Value="User" Title="Felhasználó">Felhasználó</FluentOption>
                <FluentOption Value="Admin" Title="Adminisztrátor">Adminisztrátor</FluentOption>
            </FluentSelect>
            <FluentTextField Value="@Content.UserName" Label="Felhasználónév" ReadOnly="true" TextFieldType="TextFieldType.Text" />
        </FluentStack>
    </FluentEditForm>
</FluentDialogBody>
<FluentDialogFooter>
    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="10">
        <FluentButton OnClick="Close">Mentés</FluentButton>
        <FluentButton OnClick="() => Dialog.CancelAsync()">Mégsem</FluentButton>
    </FluentStack>
</FluentDialogFooter>

@code {
    [Parameter]
    public LoginUser Content { get; set; } = default!;
    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;


    private async void Close()
    {
        if (string.IsNullOrWhiteSpace(Content.Name))
        {
            toastService.ShowWarning("Nem lehet a Név mező üres!");
            return;
        }
        if (string.IsNullOrWhiteSpace(Content.Role))
        {
            toastService.ShowWarning("Nem lehet a Szerepkör mező üres!");
            return;
        }
        await Dialog.CloseAsync(Content);
    }
}
