@page "/etkezok"
@inject EtkezesService etkezesService
@inject DataService dataService
@inject ILogger<Users> logger
@inject IToastService toastService
@inject IDialogService dialogService
@inject NavigationManager navigationManager
@implements IDisposable
<FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.SpaceBetween">
    <FluentButton Appearance="Appearance.Accent" OnClick="@(() => navigationManager.NavigateTo("/"))">Vissza a főoldalra</FluentButton>
    <FluentSpacer />
    <h3>Mai étkezések</h3>
</FluentStack>
<PageTitle>Étkezések</PageTitle>
@if (isUserLogin)
{
    <FluentDataGrid Items="@etkezesek">
    <PropertyColumn Property="u=>u.Name" Title="Név" />
    <PropertyColumn Property="u => u.Adag" Title="Adag" />
    <PropertyColumn Property="u => u.Menu" Title="Menü" />
    <PropertyColumn Property="u => u.Darab" Title="Darab" />
    <PropertyColumn Property="@((u) => u.Elfogyasztva ? "Igen" : "Nem")" Title="Étkezett" />
    <PropertyColumn Property="u => u.Updated" Title="Frissítés" />
</FluentDataGrid>
}
else
{
    <FluentLabel>Jelenleg nincs bejelentkezve felhasználó. Kérem jelentkezzen be egy fiókkal a felhasználók megtekintéséhez.</FluentLabel>
    <FluentButton Appearance="Appearance.Accent" OnClick="@(() => navigationManager.NavigateTo("/"))">Bejelentkezés</FluentButton>
}
@code {
    IQueryable<Etkezok> etkezesek = new List<Etkezok>().AsQueryable();
    bool isUserLogin = false;
    protected override async Task OnInitializedAsync()
    {
        dataService.DataServiceMessage += (sender, args) =>
        {
            logger.LogInformation("DataService üzenet: {Message}", args.Message);
            toastService.ShowInfo(args.Message);
        };
        isUserLogin = dataService.IsUserLogin();
        etkezesek = await etkezesService.GetEtkezesek();
        etkezesek = etkezesek.OrderBy(u => u.Name);
    }
    @* private async Task EditUser(User user)
    {
        DialogParameters parameters = new()
        {
            TitleTypo = Typography.H2,
            Width = "500px",
            Modal = true,
            PreventScroll = true
        };

        IDialogReference dialog = await dialogService.ShowDialogAsync<UserDialog>(user, parameters);
        DialogResult? result = await dialog.Result;
        try
        {
            if (result is not null && result.Data is not null)
            {
                var req = await userService.UpdateUser((User)result.Data);
                if (!req)
                {
                    toastService.ShowError("Nem sikerült a felhasználót elmenteni az adatbázisba!");
                    return;
                }
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }
    private void DeleteUser(User user)
    {
        toastService.ClearAll();
        toastService.ShowConfirmationToast(new ToastParameters<ConfirmationToastContent>()
        {
            Intent = ToastIntent.Success,
            Title = "Biztos benne, hogy törölni szeretné a diákot?",
            Timeout = 4000,
            PrimaryAction = "Igen",
            OnPrimaryAction = EventCallback.Factory.Create<ToastResult>(this, async () => { await userService.DeleteUser(user.Id); }),
            SecondaryAction = "Mégse",
            OnSecondaryAction = EventCallback.Factory.Create<ToastResult>(this, () => { return; }),
        });
    }*@
    public void Dispose()
    {
        dataService.DataServiceMessage -= (sender, args) =>
        {
            logger.LogInformation("DataService üzenet: {Message}", args.Message);
            toastService.ShowInfo(args.Message);
        };
    } 
}
